<div id="global" style="margin:0 auto">
    <img alt="commandeImage" src="http://www.entreprise-move.com/wp-content/uploads/2015/08/commande-entreprises.jpg" />
    <p style="color:red;font-size:20px;">Vous ne pouvez pas accéder à cette page, veuillez vous connecter <a href="/Login">ici</a></p>
</div>
