@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<img alt="commandeImage" src="http://www.entreprise-move.com/wp-content/uploads/2015/08/commande-entreprises.jpg" />
<p>Application d'administration des commandes créée par Steevin Amouzou & Valentin Salmeron</p>
