

@{  ViewBag.Title = "Accueil";
    Layout = Layout = "~/Views/Shared/_LayoutCommercial.cshtml";
}
<h2>Accueil</h2>
<div>
    <p>
        Bienvenue dans le monde MVC  <span style="color:red">@ViewData["Nom"]</span>
    </p>
    <img alt="commandeImage" src="http://www.entreprise-move.com/wp-content/uploads/2015/08/commande-entreprises.jpg" />
    <p>
        Pour vous connecter à la page de gestion des commandes, rendez-vous sur le lien, <b>Se connecter</b> ou cliquez <a href="/Login">ici</a>
    </p>
</div>
