
@{
    ViewBag.Title = "Augmenter le prix des articles";
    Layout = "~/Views/Shared/_LayoutCommercial.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Augmenter</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
