
@model System.Data.DataTable
@using System.Data;

@{
    ViewBag.Title = "Liste des Articles ";
    Layout = "~/Views/Shared/_LayoutCommercial.cshtml";

}
@if (Model != null)
{
<div class="container">
    <div class="col-md-8 col-sm-8">
        <div class="blanc">
            <h1>Liste des Commandes </h1>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Article/AugmenterArticle" class="btn btn-primary">Augmenter le prix des articles</a>
                <a href="/Commande" class="btn btn-danger pull-right">Retourner à la liste des commandes</a>
            </div>
        </div>
        <div class="form-group" style="margin-top:50px;">
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th> N° Article</th>
                        <th> Libellé article</th>
                        <th> Prix article </th>
                        <th>Quantité disponible</th>
                        <th>Statut</th>
                        <th>Ville article</th>
                    </tr>
                </thead>
                @foreach (DataRow dataRow in Model.Rows)
                {
                    <tr>
                        @foreach (var item in dataRow.ItemArray)
                        {
                            <td>
                                @item.ToString()
                            </td>
                        }
                    </tr>

                }

            </table>
        </div>
    </div>
</div>
}
