@model WebCommercialEntity.Models.vendeur
@{
    ViewBag.Title = "Infos Vendeur Connecté";
    Layout = "~/Views/Shared/_LayoutCommercial.cshtml";
}

@if (Model != null && Session["login"] != null)
{



        <div class="form-horizontal">
            <h2>Informations sur le vendeur connecté :</h2>
            <p><label>Identifiant vendeur : </label>&nbsp;@Model.NO_VENDEUR</p>
            <p><label>Nom vendeur: </label>&nbsp;@Model.NOM_VEND</p>
            <p><label>Prénom vendeur :</label>&nbsp;@Model.PRENOM_VEND</p>
            <p><label>Salaire vendeur :</label>&nbsp;@Model.SALAIRE_VEND</p>
            <p><label>Commission : </label>&nbsp;@Model.COMMISSION</p>
            <p><label>Date d'embauche :</label>&nbsp;@Model.DATE_EMBAU</p>
            <p><label>Ville vendeur : </label>&nbsp;@Model.VILLE_VEND</p>
            
        </div>
 
}
else
{
    @Html.Partial("_AccesInterdit");
}
